// Place all the styles related to the Passwords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th, td {

    text-align: left;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

td {
    height: 2em;
    padding: 5px;
}

td#short {
    width: 55px;
    border-right: none;
    text-align: center;
}

th {
    padding: 10px;
    background-color: gray;
}

table {

    background-color: lightgrey;
    
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto; 
    padding: 10px;
    width: 50%;

}